#peter_ahn {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    position: absolute;
    top: 8px;
    left: 50px;
}

#about {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    position: absolute;
    top: 8px;
    right: 110px;
}

#contact {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    position: absolute;
    top: 8px;
    right: 50px;
}

#wallpaper_header {
    position: absolute;
    top: 80px;
    width: 95%;
    height: 45%;
    left: 50px;
    right: 50px;
}

#grid_image {
    width: 20%;
    height: 20%;
}

#grid_padding {
    top: 400px;
    left: 50px;
    right: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  position: relative;
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
