#outer {
    position: fixed;
}

.header {
    height: 100px;
    width: 400px; /** Use 100% to fill the width of the page **/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0,0,255,0.2);
}

#peter_ahn {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    position: fixed;
    top: 8px;
    left: 50px;
}

#about {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    position: fixed;
    top: 8px;
    right: 120px;
}

#contact {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    position: fixed; 
    top: 8px;
    right: 50px;
}

#wallpaper_header {
    position: absolute;
    top: 80px;
    width: 95%;
    height: 55%;
    left: 50px;
    right: 50px;
}

#grid_image {
    width: 40%;
    height: 40%;
    padding: 20px;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px
}

#grid_padding {
    position: relative;
    top: 950px;
    left: 12px;
    right: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 20px;
}

.column img {
  position: relative;
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

body {
    -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 80%; /* Webkit browsers */
}
